.Weather {
  background-color: #25252c;
  border-style: ridge;
  border: 5px solid;
  border-radius: 5px;
  border-width: thin;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
#look-up {
  margin: 10px auto;
  margin-left: 5px;
  background-color: #333350;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(221, 128, 40);
}
button :hover {
  opacity: 0.9;
  cursor: pointer;
}
#current-location {
  margin: 10px auto;
  margin-left: 5px;
  background-color: #333350;
  border-radius: 5px;
  font-weight: 500;
  color: rgb(221, 128, 40);
}
